##Regular Expression in Python
#match
#search
#findall
#finditer
#sub
#split
groups

In [2]:
import re

In [3]:
string="Tiger is the national animal of india, Tiger lives in forest"
pattern="Tiger"
result=re.match(pattern,string)

In [4]:
result

In [5]:
print(result)

<re.Match object; span=(0, 5), match='Tiger'>

In [6]:
result=result.group()

In [7]:
result

'Tiger'

In [8]:

string2="The national animal of India is tiger"
pattern="tiger"
#checking for match
result=re.match(string2,pattern)

In [9]:
result

In [15]:

##String: search()
string="The national animal of india is Tiger. Tiger lives in forest."

pattern2="Tiger"

result2=re.search(pattern2,string)

In [16]:
print(result2)

<re.Match object; span=(32, 37), match='Tiger'>

In [19]:
result2=re.search(pattern2,string).group()

In [20]:

result2

'Tiger'

In [21]:
#Find all
result3=re.findall(pattern2,string)

In [22]:
result3

['Tiger', 'Tiger']

In [3]:
text="India get freedom on 15-08-1947, and it is celebrated as Independence day.\
    Indian constitution came into effect on 26-01-1950, and celebrated as republic day"
#defining the pattern
date_pattern=r'\d{2}-\d{2}-\d{4}'
re.findall(date_pattern,text)

['15-08-1947', '26-01-1950']

In [4]:
# finditer
# finall() but return an iterator
string="The national animal of India is Tiger. TIger lives in Forest."
pattern="Tiger"
#using finditer in a string
result=re.finditer(pattern,string)
print(result)

<callable_iterator object at 0x000001B0E09EEE60>

In [5]:
for m in result:
    print(m)
    print('Start: ',m.start(),'End: ',m.end(),'Sub-string:',m.group())

<re.Match object; span=(32, 37), match='Tiger'>
Start:  32 End:  37 Sub-string: Tiger

In [6]:
#sub
text="Analytics Vidhya is largest Analytics community of India"
result=re.sub('India','the World',text)
print(result)

Analytics Vidhya is largest Analytics community of the World

In [8]:
#split
line="I have a big test tomorrow; I can't go out tonight."
re.split(r'[;]',line)

['I have a big test tomorrow', " I can't go out tonight."]

In [21]:
# Running a simple pattern on some text
string="Ajay credited $500 to your account on 13-08-2020.\
      Anmol debited $1,700 from your account on 14-08-2020.\
      Alex debited $100 on 16-08-2020 from your account."

pattern="[\w]+ [\w]+ \$[\d,]+ [a-zA-z ]+ \d{2}-\d{2}-\d{4}"

result=re.findall(pattern,string)

print(result)

['Ajay credited $500 to your account on 13-08-2020', 'Anmol debited $1,700 from your account on 14-08-2020', 'Alex debited $100 on 16-08-2020']

In [22]:
string="Ajay credited $500 to your account on 13-08-2020.\
      Anmol debited $1,700 from your account on 14-08-2020.\
      Alex debited $100 on 16-08-2020 from your account."

# Creating groups in the previous pattern
pattern="([\w]+) ([\w]+) (\$[\d,]+) [a-zA-z ]+ (\d{2}-\d{2}-\d{4})"

result=re.findall(pattern,string)

print(result)

[('Ajay', 'credited', '$500', '13-08-2020'), ('Anmol', 'debited', '$1,700', '14-08-2020'), ('Alex', 'debited', '$100', '16-08-2020')]

In [23]:
import pandas as pd

# Creating a dataframe
df=pd.DataFrame(result,columns=['Name','Type','Amount','Date'])
df

    Name      Type  Amount        Date
0   Ajay  credited    $500  13-08-2020
1  Anmol   debited  $1,700  14-08-2020
2   Alex   debited    $100  16-08-2020

In [24]:
# Using finditer() for getting match objects
string="Ajay credited $500 to your account on 13-08-2020.\
      Anmol debited $1,700 from your account on 14-08-2020.\
      Alex debited $100 on 16-08-2020 from your account."

pattern="([\w]+) ([\w]+) (\$[\d,]+) [a-zA-z ]+ (\d{2}-\d{2}-\d{4})"

result=re.finditer(pattern,string)

# Accessing groups separately
for i in result:
    print(i.group(0),'=>',i.group(1),'=>',i.group(2),'=>',i.group(3),'=>',i.group(4))

Ajay credited $500 to your account on 13-08-2020 => Ajay => credited => $500 => 13-08-2020
Anmol debited $1,700 from your account on 14-08-2020 => Anmol => debited => $1,700 => 14-08-2020
Alex debited $100 on 16-08-2020 => Alex => debited => $100 => 16-08-2020

In [25]:
string="Ajay credited $500 to your account on 13-08-2020.\
      Anmol debited $1,700 from your account on 14-08-2020.\
      Alex debited $100 on 16-08-2020 from your account."

# Naming Groups
pattern="(?P<Name>[\w]+) (?P<Type>[\w]+) (?P<Amount>\$[\d,]+) [a-zA-z ]+ (?P<Date>\d{2}-\d{2}-\d{4})"

result=list(re.finditer(pattern,string))

In [26]:
# Accessing data by group names
for i in result:
    print(i.group('Name'),'=>',i.group('Amount'),'=>',i.group('Date'),'=>',i.group('Type'))

Ajay => $500 => 13-08-2020 => credited
Anmol => $1,700 => 14-08-2020 => debited
Alex => $100 => 16-08-2020 => debited

In [28]:
# Printing data with group names
for i in result:
    print(i.groupdict())

{'Name': 'Ajay', 'Type': 'credited', 'Amount': '$500', 'Date': '13-08-2020'}
{'Name': 'Anmol', 'Type': 'debited', 'Amount': '$1,700', 'Date': '14-08-2020'}
{'Name': 'Alex', 'Type': 'debited', 'Amount': '$100', 'Date': '16-08-2020'}