In [1]:
import spacy

In [5]:
text="I'm working as a data scientist in the U.S and earning $140,000"

In [2]:
nlp=spacy.load('en_core_web_sm')

In [7]:
doc=nlp(text)

In [8]:
doc

I'm working as a data scientist in the U.S and earning $140,000

In [9]:
type(doc)

spacy.tokens.doc.Doc

In [10]:
#spacy tokenizer
print([token for token in doc])

[I, 'm, working, as, a, data, scientist, in, the, U.S, and, earning, $, 140,000]

In [12]:
#type of token
[type(token) for token in doc]

[spacy.tokens.token.Token,
 spacy.tokens.token.Token,
 spacy.tokens.token.Token,
 spacy.tokens.token.Token,
 spacy.tokens.token.Token,
 spacy.tokens.token.Token,
 spacy.tokens.token.Token,
 spacy.tokens.token.Token,
 spacy.tokens.token.Token,
 spacy.tokens.token.Token,
 spacy.tokens.token.Token,
 spacy.tokens.token.Token,
 spacy.tokens.token.Token,
 spacy.tokens.token.Token]

In [13]:
#tokens as string
print([token.text for token in doc])

['I', "'m", 'working', 'as', 'a', 'data', 'scientist', 'in', 'the', 'U.S', 'and', 'earning', '$', '140,000']

In [17]:
#comparing whitespace and spacy tokenizer
#white space tk
print(text.split())
#no of token
print(len(text.split()))
#spacy tk
print([token.text for token in doc])
#no of token
print(len(doc))

["I'm", 'working', 'as', 'a', 'data', 'scientist', 'in', 'the', 'U.S', 'and', 'earning', '$140,000']
12
['I', "'m", 'working', 'as', 'a', 'data', 'scientist', 'in', 'the', 'U.S', 'and', 'earning', '$', '140,000']
14

In [18]:
text="My phone has 20% battery left"
#w t
print(text.split())
#spacy tk
print([token.text for token in nlp(text)])

['My', 'phone', 'has', '20%', 'battery', 'left']
['My', 'phone', 'has', '20', '%', 'battery', 'left']

In [19]:
text="I ran 10km today."
#w t
print(text.split())
#spacy tk
print([token.text for token in nlp(text)])

['I', 'ran', '10km', 'today.']
['I', 'ran', '10', 'km', 'today', '.']

In [20]:
text="I know HTML, css, javascript, C++, and Node.js"
#w t
print(text.split())
#spacy tk
print([token.text for token in nlp(text)])

['I', 'know', 'HTML,', 'css,', 'javascript,', 'C++,', 'and', 'Node.js']
['I', 'know', 'HTML', ',', 'css', ',', 'javascript', ',', 'C++', ',', 'and', 'Node.js']